<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Track</title>
  </head>
  <body>
    <form action="/albums/<%= albumId %>" method="POST" autocomplete="off">
      <label for="trackName">Track Name: </label>
      <input type="text" name="trackName" />
      <button type="submit">Save Track</button>
    </form>
  </body>
</html>
