<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Album</title>
  </head>
  <body>
    <h1>New Album</h1>
    <form action="/albums" method="POST" autocomplete="off">
      <label for="name">Name of Album:</label>
      <input type="text" name="name" /> <br />
      <label for="artist">Name of Artist:</label>
      <input type="text" name="artist" />
      <button type="submit">Save Album</button>
    </form>
  </body>
</html>
